body {
    background: #EEE;
    margin: 0;
    width: 100%;
    overflow-y: scroll;
}

pre {
    color: #333333;
    padding: 10px 0 0 0;
    display: block;
    width: 100%;
    max-width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: "PingFang SC", "San Francisco", "等线", "STHeiti", serif!important;
    text-overflow: clip;
    overflow: hidden;
    resize: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 20px;
    margin: 0;
    white-space: pre-wrap;
}

::-webkit-scrollbar {
    width: 0;
}

.slow {
    transition: 0.2s;
}
.slow:hover {
    transition: 0.2s;
}

.press {
    cursor: pointer;
}

label {
    display: block;
    border: none;
}

.input-form {
    padding: 0 10%;
    margin-bottom: 50px;
}

.input-form label {
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

input {
    border: none;
    background: none;
    width: 100%;
    font-size: 16px;
    outline: none;
    letter-spacing: 1px;
    font-family: 'COCOGOOSE9909d5dd917b98', sans-serif;
    color: #3F9913;
}

.btn-white {
    background: none;
    color: #000;
    transition: 0.2s;
}

.btn-white:hover {
    background: #ddd;
    color: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    transition: 0.2s;
}

.btn-green {
    background: #3F9913;
    color: #fff;
    transition: 0.2s;
}

.btn-green:hover {
    background: #367517;
    color: #fff;
    transition: 0.2s;
}

button {
    border: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    letter-spacing: 1px;
    /*padding: 10px 20px;*/
    margin: 10px 0;
    /*font-family: 'hzguangbiao99f004efa17b98', serif;*/
}


hr {
    border-top: 1px solid #ddd;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0;
}


/*login.html*/

.login-main {
    position: absolute;
    padding-top: 50px;
    /*height: 100%;*/
    width: 100%;
}

.login-main .btns {
    position: relative;
}

#login-act {
    position: absolute;
}

#signup-act {
    position: absolute;
    top: 60px;
}

#forget-act {
    position: absolute;
    top: 120px;
}

.login-main .slogan {
    width: 40%;
    max-width: 360px;
    margin: 20px 0 0 10%;
}

.login-main .leading {
    text-align: right;
    color: #3F9913;
    margin: 20px 10% 20px 0;
    font-family: 'hzguangbiao99efa964117b98', serif;
    letter-spacing: 1px;
    font-size: 16px;
}

    .login-main .input-form .input-container {
        padding: 10px 20px;
    }

    .login-main .input-form .captcha-container {
        text-align: right;
    }

        .login-main .input-form .captcha-container .captcha {
            position: absolute;
            right: calc(10% + 15px);
            margin-top: -34px;
        }

#bg-canvas {
    position: fixed;
    z-index: -1;
}

/*center.html*/

.avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.navigation {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 50px;
    background: #3F9913;
    z-index: 1;
}
    .navigation .t {
        position: absolute;
        top: 0;
        height: 50px;
        width: 70px;
        line-height: 50px;
        vertical-align: middle;
        text-align: center;
        font-size: 20px;
        color: #fff;
    }
    .left {
        left: 0;
    }
    .right {
        right: 0;
    }
    .navigation .slogan {
        height: 24px;
        padding: 13px;
    }
    .navigation .back {
        position: absolute;
        top: 0;
        left: 0;
        height: 26px;
        padding: 12px;
        font-size: 30px;
        color: #FFFFFF;
    }
    .navigation .user-avatar {
        height: 30px;
        position: fixed;
        right: 0;
        margin: 10px;
        font-size: 30px;
        color: #fff;
    }
    .navigation .title {
        line-height: 50px;
        height: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        letter-spacing: 2px;
    }

.body-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    background: none;
    border: none;
    outline: none;
}

.higher-body-mask {
    z-index: 3!important;
}

.sidebar-container {
    position: fixed;
    top: 0;
    right: -180px;
    width: 180px;
    height: 100%;
    background: #2A660D;
    z-index: 2;
    text-align: center;
    overflow-y: scroll;
}
    .sidebar-container .user-avatar {
        margin-top: 50px;
        width: 80px;
        height: 80px;
        border-radius: 50px;;
    }
    .sidebar-container .user-name {
        margin: 10px 0;
        color: #fff;
        letter-spacing: 2px;
        font-weight: bold;
    }
    #sidebar-fold-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        padding: 15px 10px;
        font-size: 32px;
        color: #FFFFFF;
    }
    .sidebar-container .btn-box {
        margin-top: 20px;
        letter-spacing: 2px;
        text-align: left;
    }
    .sidebar-container .btn-box .btn {
        position: relative;
        height: 50px;
        line-height: 50px;
        width: calc(100% - 80px);
        color: #fff;
        padding: 0 40px;
        vertical-align: middle;
    }
    .sidebar-container .btn-box .btn:hover {
        background: #EEEEEE;
        color: #2A660D;
    }
    .sidebar-container .btn-box .btn div {
        position: absolute;
        left: 70px;
        top: 0;
    }

.event-list {
    width: 100%;
    margin-top: 60px;
    /*overflow-y:scroll;*/
}
.event-list .event-item {
    margin-top: 10px;
    padding: 10px 0;
    background: #FFF;
    /*height: 90px;*/
}
    .event-list .event-item .event-owner-avatar {
        position: absolute;
        left: 0;
        margin: 0 10px;
        height: 40px;
    }
    .event-list .event-item .writer-avatar {
        position: absolute;
        left: 30px;
        height: 20px;
        margin: 0 10px;
        border: solid 2px #dddddd;
    }
    .event-list .event-item .event-owner-name {
        position: absolute;
        left: 70px;
        margin: 0;
        font-size: 16px;
        max-width: calc(100% - 100px);
    }
    .event-list .event-item .sub-title {
        position: absolute;
        left: 70px;
        margin-top: 20px;
        margin-bottom: 0;
        font-size: 11px;
        white-space: nowrap;
    }
        .event-list .event-item .sub-title .work-time {
            color: #888888;
            margin: 0;
            display: inline;
        }
        .event-list .event-item .sub-title .introduce {
            color: #7BB00D;
            margin: 0;
            display: inline;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    .event-list .event-item label {
        margin: 44px 10px 0;
        border: none;
    }
        .event-list .event-item label .work-title {
            color: #333333;
            font-size: 16px;
            margin: 0;
            font-weight: bold;
            display: inline;
        }
        .event-list .event-item label .modify-times {
            color: #333333;
            font-size: 12px;
            display: inline;
            /*margin: -18px 10px 0 0;*/
            /*text-align: right;*/
        }
        .event-list .event-item label .writer-name {
            margin: 3px 0;
            font-size: 12px;
            text-align: right;
            color: #333333;
            padding-right: 5px;
        }
        .preview-content {
            color: #333333;
            padding: 10px 0 0 0;
            display: block;
            width: 100%;
            max-width: 100%;
            border: none;
            outline: none;
            font-size: 14px;
            font-family: "PingFang SC", "San Francisco", "等线", "STHeiti", serif!important;
            text-overflow: clip;
            overflow: hidden;
            resize: none;
            text-align: justify;
            letter-spacing: 2px;
            line-height: 20px;
        }
        .event-list .event-item .event-menu {
            position: absolute;
            width: 20px;
            height: 20px;
            line-height: 20px;
            right: 5px;
            text-align: center;
            vertical-align: middle;
        }
        .event-list .event-item .event-menu i {
            color: #888888;
            font-size: 16px;
        }
        .event-list .event-item label .read-more {
            margin: 10px 0 0 0;
            text-align: right;
            font-size: 14px;
            color: #2A660D;
        }
        .event-list .event-item .foot-info {
            margin: 0;
            padding: 0 10px;
            text-align: right;
            height: 44px;
        }
            .event-list .event-item .foot-info div {
                display: inline-block;
                margin: 0;
                padding: 0;
                height: 44px;
                width: 44px;
                text-align: center;
            }
                .event-list .event-item .foot-info div i {
                    padding-top: 13px;
                    padding-bottom: 13px;
                    font-size: 18px;
                    color: #888888;
                }
                .event-list .event-item .foot-info .read-num {
                    position: absolute;
                    margin: -28px 0 0 0;
                    padding: 0;
                    color: #888888;
                    font-size: 12px;
                }
    .event-list .event-item hr {
        margin: 0;
    }
    .event-list .event-item .interact-list-container {
        margin: 0 10px;
    }
    #thumb-list-container {
        margin-top: 5px;
    }
        .event-list .event-item .interact-list-container .icon-box {
            width: 20px;
            display: inline-table;
        }
        .event-list .event-item .interact-list-container i {
            color: #2A660D;
        }
        .event-list .event-item .interact-list-container p {
            display: inline;
            font-size: 14px;
            color: #888888;
        }
        .event-list .event-item .interact-list-container .interact-list {
            color: #2A660D;
        }
    .event-list .event-item .comment-container .comment {
        position: relative;
        margin-top: 5px;
        letter-spacing: 1px;
    }
    .event-list .event-item .comment-container .comment .user-comment-avatar {
        height: 40px;
        width: 40px;
        margin-left: 10px;
    }
    .event-list .event-item .comment-container .comment .user-comment-name {
        position: absolute;
        left: 60px;
        top: 3px;
        font-size: 12px;
        margin: 0;
    }
        .event-list .event-item .comment-container .comment .user-comment-name i {
            color: #3F9913;
            margin-left: 5px;
        }
    .event-list .event-item .comment-container .comment .user-comment-time {
        position: absolute;
        left: 60px;
        top: 20px;
        font-size: 12px;
        color: #888888;
        margin: 0;
    }
    .event-list .event-item .comment-container .comment .user-comment-content {
        font-size: 14px;
        margin: 0 10px 0 30px;
    }
    .event-list .event-item .comment-container .comment .user-comment-content:hover {
        background: #eeeeee;
    }
    .event-list .event-item .comment-container .comment .delete {
        position: absolute;
        top: 0;
        right: 25px;
        padding: 2px 10px 10px;
    }
    .event-list .event-item .comment-container .comment .delete i {
        font-size: 18px;
        color: #888888;
    }

#like-page-list-container {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    /*overflow-y: scroll;*/
    padding-bottom: 10px;
}
    #user-info-card {
        position: relative;
        height: 100px;
        width: 100%;
        margin-top: 10px;
        background: #fff;
    }
    #user-info-card .user-avatar {
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 100px;
    }
    #user-info-card .user-quote {
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 24px;
        margin: 0;
        color: #ddd;
    }
    #user-info-card .user-quote-content {
        position: absolute;
        top: 30px;
        left: 50px;
        width: calc(100% - 160px);
        font-size: 14px;
        margin: 0;
        letter-spacing: 2px;
    }
    #user-info-card .user-name {
        position: absolute;
        right: 120px;
        top: 70px;
        font-size: 14px;
        letter-spacing: 2px;
        margin: 0;
    }


#comment-page-list-container {
    position: absolute;
    margin-top: 30px;
    width: 100%;
    /*overflow-y: scroll;*/
    padding-bottom: 30px;
}
    #work-comment-item {
        position: relative;
        width: 100%;
        margin-top: 30px;
        background: #fff;
    }
    #work-comment-item .user-quote {
        /*margin-top: 20px;*/
        font-size: 24px;
        margin: 10px 0 14px 20px;
        color: #ddd;
    }
    #work-comment-item .user-comment-content {
        margin: -20px 40px 0 50px;
        font-size: 14px;
        letter-spacing: 2px;
    }
    #work-comment-item .comment-time {
        position: absolute;
        top: 13px;
        right: 20px;
        margin: 0;
        letter-spacing: 2px;
        color: #999;
        font-size: 12px;
    }
    #work-comment-item .user-name {
        width: calc(100% - 40px);
        text-align: right;
        margin: 5px 0;
        padding-bottom: 20px;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        letter-spacing: 2px;
    }
    #work-comment-item .user-avatar {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        bottom: -20px;
        left: 30px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    }

#user-info-container {
    position: absolute;
    margin-top: 50px;
    width: 100%;
}
    #user-analyse {
        position: relative;
        height: 100px;
        width: 100%;
        margin-top: 10px;
        background: #fff;
    }
    #user-analyse .analyse-item {
        position: relative;
        float: left;
        height: 100px;
        width: 33.3333%;
    }
        .analyse-item .item-name {
            position: absolute;
            font-size: 16px;
            width: 100%;
            top: 20px;
            text-align: center;
            border-right: 1px solid #888888;
        }
        @font-face {
            font-family: 'DINCond-Bold';
            src: url('http://ooj8t2ocf.bkt.clouddn.com/font/DINCond-Bold.otf');
        }
        .analyse-item .item-num {
            position: absolute;
            font-size: 40px;
            width: 100%;
            top: 40px;
            text-align: center;
            font-family: 'DINCond-Bold', serif;
        }

#user-work-list-container {
    margin-top: 0;
}

#user-work-list-container .title {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

#user-work-list-container .user-work-item {
    margin-top: 10px;
}

#work-edit-container {
    position: absolute;
    margin-top: 50px;
    width: 100%;
}
    .work-edit-item {
        width: 100%;
        margin-top: 10px;
        background: #fff;
    }
    #work-edit-work-name-input {
        font-size: 20px;
        padding: 8px 10px;
        color: #000;
    }
    #work-edit-writer-name-input {
        font-size: 14px;
        padding: 8px 10px;
        color: #000;
    }
    .work-edit-item label {
        padding: 0 10px 10px;
        /*border: none;*/
    }
    .switch-box {
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
    }
    .switch-box div {
        float: left;
        color: #333;
        margin-left: 10px;
    }
    .switch-box .switch-desc-large {
        font-size: 20px;
    }
    .switch-box .mui-switch {
        float: right;
        margin-right: 10px;
    }

.comment-box {
    position: fixed;
    bottom: -180px;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 2;
}
    .comment-box .nav {
        position: relative;
        width: 100%;
        height: 40px;
        background: #eee;
    }
    .comment-box .nav .box-btn {
        position: absolute;
        top: 0;
        width: 60px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        color: #333;
    }
    .comment-box .comment-input-label {
        padding: 0 10px;
    }
    .hint-danger {
        color: #CC5A40!important;
    }
    .hint-success {
        color: #3F9913!important;
    }
    .hint-normal {
        color: #000000;
    }
    #comment-do {
        font-weight: bold;
    }
    .comment-content {
        color: #333333;
        padding: 10px 0 0 0;
        display: block;
        width: 100%;
        max-width: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        font-family: "PingFang SC", "San Francisco", "等线", "STHeiti", serif!important;
        text-overflow: clip;
        resize: none;
        text-align: justify;
        letter-spacing: 2px;
        line-height: 20px;
        overflow: scroll;
    }
    .comment-box .switch-box {
        margin: 5px 0;
    }

#event-menu-container {
    position: fixed;
    bottom: -210px;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 2;
}
    .event-menu-item {
        height: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        font-size: 16px;
    }
    .event-menu-item:hover {
        background: #EEEEEE ;
    }
    .event-menu-item .icon-box {
        width: 30px;
        text-align: center;
        display: inline-block;
    }

#share-menu-container {
    position: fixed;
    bottom: -105px;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    z-index: 2;
    border-top: solid 1px #dddddd;
    overflow-x: auto;
    white-space: nowrap;
}
    .share-menu-item {
        height: 80px;
        width: 70px;
        padding: 10px 10px;
        text-align: center;
        display: inline-block;
    }
        .share-menu-item img {
            width: 40px;
            height: 40px;
            padding: 5px;
        }
        .share-menu-item div {
            font-size: 12px;
        }


.hint-box {
    display: none;
    position: fixed;
    top: calc(50% - 25px);
    left: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    z-index: 5;
}
    .hint-box .hint-body {
        background: rgba(0, 0, 0, 0.8);
        display: inline;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        padding: 10px 20px;
        border-radius: 5px;
        color: #ddd;
    }

.alert-box {
    position: fixed;
    top: calc(50% - 25px);
    left: 10%;
    width: 80%;
    text-align: center;
    z-index: 5;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: #ddd;
}
    .alert-box .alert-body {
        padding: 15px 10px;
    }
    .alert-box .alert-btns {
        position: relative;
        height: 30px;
    }
    .alert-box .alert-btn {
        width: 50%;
        position: absolute;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
    }
    .alert-box .alert-btn:hover {
        background: #dddddd;
        color: #000000;
    }
    .alert-ok {
        left: 0;
        font-weight: bold;
        border-right: solid 1px #ddd;
        border-bottom-left-radius: 5px;
    }
    .alert-cancel {
        left: 50%;
        border-left: solid 1px #ddd;
        border-bottom-right-radius: 5px;
    }