{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>青柠文字社</title>
    <link href="{% static "v2/css/style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "v2/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="navigation">
        <img class="slogan" src="{% static "img/slogan-white.png" %}">
        <img class="avatar user-avatar" src="/user/avatar/default-avatar-01.jpg">
    </div>
    <div class="work-list">
        <div class="work-item"></div>
        <div class="work-item">
            <img class="avatar writer-avatar" src="/user/avatar/default-avatar-02.jpg">
            <p class="writer-name">九把刀</p>
            <div class="sub-title">
                <p class="work-time">2011年7月20日</p>
                <p class="introduce">每个人心里都有一座花果山。</p>
            </div>
            <label for="textarea">
                <p class="work-title">「我曾如何不像您」</p>
                <p class="modify-times">第3稿</p>
                <textarea class="preview-content" rows="5" readonly>
    1、我网站（商城站）用的是百度编辑器，功能确实还可以，里面表格都可以合并修改，但有一个缺点是代码太多了。它会对每一行都重新定义一下样式（字体颜色、字体大小、上下行距等），这样导致代码不简洁。

    2、更要命的是，我网站放了很多表格，导致代码更多。问：电商网站内容都是图片，我想用文字展现出来，但表格代码又那么多，很纠结。请问怎么解决？

    所以，有什么好用的编辑器推荐？还有就是表格是截图还是直接贴？
                </textarea>
                <div class="foot-info">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-comment-o"></i>
                    <i class="fa fa-thumbs-o-up"></i>
                </div>
                <p class="read-num">22次阅读</p>
            </label>
            <hr>
        </div>
        <div class="work-item"></div>
        <div class="work-item"></div>
        <div class="work-item"></div>
        <div class="work-item"></div>
        <div class="work-item"></div>
        <div class="work-item"></div>
        <div class="work-item"></div>
        <div class="work-item"></div>
    </div>
</body>