{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>青柠文字社</title>
    <link href="{% static "v2/css/style.css" %}" rel="stylesheet" type="text/css"/>
{#    <link href="{% static "v2/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>#}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="navigation">
        <img class="slogan" src="{% static "img/slogan-white.png" %}">
        <img class="avatar user-avatar" src="/user/avatar/default-avatar-01.jpg">
    </div>
    <div class="work-list">
        <div class="work-item">
            <img class="avatar writer-avatar" src="/user/avatar/default-avatar-08.jpg">
            <p class="writer-name">咕噜 <small>分享了<b>徐森耳</b>的稿件</small></p>
            <div class="sub-title">
                <p class="work-time">2011年7月20日</p>
                <p class="introduce">快乐总是蓬头垢面。</p>
            </div>
            <label for="textarea">
                <p class="work-title">「海葬 第四章」</p>
                <p class="modify-times">第3稿</p>
                <textarea class="preview-content" rows="5" readonly>	你知道心底里没有希望和拥有希望有什么区别吗？
	当心里没有希望的时候，看着这个纷纷扰扰的世界会像看一部黑白的战争电影，什么都是肮脏，面对岔路口，不仅仅不知道该去向哪里，还会不知道自己站在岔路口中央有什么意义。或许眼前飞过的花瓣在无望的人眼里只是一张张飞舞的冥币，没有美好，整个世界都布满了污秽和虫蚁。
	可当心里有那么一束光闯入，它对你的心说，它叫希望。或许凝固的血液会再次流动，尘埃似乎空了，世界似乎没有那么令人厌恶了。眼里看到的不再是灰色，听到的不再是喧嚣，似乎更加坚定，似乎一切都像梦，美的不像现实。
	“你应该走了。”鱼生避开了萧岚的目光。少年愣了愣，有些不知所措地攥着药瓶和创可贴：“不去医院吗？”鱼生有些不可置信地重新抬头看他。去医院？是个人看到她现在落魄的模样都应该把她归为乞丐一类吧，可这个干净得像晨露的少年，却对这样一个她，问是否要去医院。
	换做别人，逃都来不及吧。</textarea>
                <p class="read-more">阅读原文及评论</p>
            </label>
            <hr>
            <div class="foot-info">
                <i class="fa fa-share-alt"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-thumbs-o-up"></i>
            </div>
            <p class="read-num">22人阅读</p>
            <hr>
            <div class="thumb-list-container">
                <i class="fa fa-thumbs-up"></i>
                <p class="thumb-list">工刀</p>
                <p>等8人觉得赞</p>
            </div>
        </div>
        <div class="work-item">
            <img class="avatar writer-avatar" src="/user/avatar/default-avatar-02.jpg">
            <p class="writer-name">徐森耳 <small>发布了原创稿件</small></p>
            <div class="sub-title">
                <p class="work-time">2011年7月20日</p>
                <p class="introduce">每个人心里都有一座花果山。</p>
            </div>
            <label for="textarea">
                <p class="work-title">「海葬 第四章」</p>
                <p class="modify-times">第3稿</p>
                <textarea class="preview-content" rows="5" readonly>	你知道心底里没有希望和拥有希望有什么区别吗？
	当心里没有希望的时候，看着这个纷纷扰扰的世界会像看一部黑白的战争电影，什么都是肮脏，面对岔路口，不仅仅不知道该去向哪里，还会不知道自己站在岔路口中央有什么意义。或许眼前飞过的花瓣在无望的人眼里只是一张张飞舞的冥币，没有美好，整个世界都布满了污秽和虫蚁。
	可当心里有那么一束光闯入，它对你的心说，它叫希望。或许凝固的血液会再次流动，尘埃似乎空了，世界似乎没有那么令人厌恶了。眼里看到的不再是灰色，听到的不再是喧嚣，似乎更加坚定，似乎一切都像梦，美的不像现实。
	“你应该走了。”鱼生避开了萧岚的目光。少年愣了愣，有些不知所措地攥着药瓶和创可贴：“不去医院吗？”鱼生有些不可置信地重新抬头看他。去医院？是个人看到她现在落魄的模样都应该把她归为乞丐一类吧，可这个干净得像晨露的少年，却对这样一个她，问是否要去医院。
	换做别人，逃都来不及吧。</textarea>
                <p class="read-more">阅读原文及评论</p>
            </label>
            <hr>
            <div class="foot-info">
                <i class="fa fa-share-alt"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-thumbs-o-up"></i>
            </div>
            <p class="read-num">22人阅读</p>
            <hr>
            <div class="thumb-list-container">
                <i class="fa fa-thumbs-up"></i>
                <p class="thumb-list">工刀</p>
                <p>等8人觉得赞</p>
            </div>
        </div>
        <div class="work-item"></div>
        <div class="work-item"></div>
        <div class="work-item"></div>
        <div class="work-item"></div>
        <div class="work-item"></div>
        <div class="work-item"></div>
        <div class="work-item"></div>
        <div class="work-item"></div>
    </div>
</body>