{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>青柠文字社</title>
    <link href="{% static "v2/css/style.css" %}" rel="stylesheet" type="text/css"/>
{#    <link href="{% static "v2/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"/>#}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    {% include "v2/nav.html" %}
    <div class="event-list">
    {% for event in event_list %}
        {% include 'v2/event/event-item.html' %}
    {% endfor %}
        <div class="event-item"></div>
    </div>
    <script src="{% static "v2/js/work.js" %}"></script>
</body>