{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>青柠文字社</title>
    <link href="{% static "v2/css/style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
{#    {% include "v2/nav.html" %}#}
    <div class="navigation">
        <div class="title">{{ count }}人评价了作品</div>
        <i class="fa fa-chevron-left back" onclick="window.history.back()"></i>
    </div>
    <div id="comment-page-list-container">
        {% for item in comment_list %}
        <div id="work-comment-item" onclick="window.location.href='{{ item.home_link }}'" class="press">
            <i class="fa fa-quote-left user-quote"></i>
            <p class="user-comment-content">{{ item.content }}</p>
            <p class="user-name"><b>{% if item.is_reviewer %}审稿{% else %}作者{% endif %}</b> | {{ item.nickname }}</p>
            <p class="comment-time">{{ item.time }}</p>
            <img class="user-avatar" src="{{ item.avatar }}">
        </div>
        {% endfor %}
    </div>
</body>