{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>青柠文字社</title>
    <link href="{% static "v2/css/style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
{#    {% include "v2/nav.html" %}#}
    <div class="navigation">
        <div class="title">12人评价了作品</div>
        <img class="back" src="{% static 'img/back.png' %}"/>
    </div>
    <div id="comment-page-list-container">
        <div id="work-comment-item">
            <p class="user-quote">“</p>
            <p class="user-comment-content">我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论</p>
            <p class="user-name"><b>审稿</b> | 几只鸡的小鸟</p>
            <img class="user-avatar" src="/user/avatar/default-avatar-08.jpg">
        </div>
        <div class="display-item" id="work-comment-item">
            <p class="user-quote">“</p>
            <p class="user-comment-content">我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论</p>
            <p class="user-name"><b>审稿</b> | 几只鸡的小鸟</p>
            <img class="user-avatar" src="/user/avatar/default-avatar-08.jpg">
        </div>
    </div>
</body>