<div class="event-item">
    <div class="event-menu"><i class="fa fa-chevron-down back"></i></div>
    <img class="avatar event-owner-avatar press" src="{{ event.info.event_owner.avatar }}" onclick="window.location.href='{{ event.info.event_owner.home_link }}'">

{% if event.info.type.repost or event.info.type.thumb or event.info.type.comment or event.info.type.claim or event.info.type.review %}
    <img class="avatar writer-avatar press" src="{{ event.info.work_owner.avatar }}" onclick="window.location.href='{{ event.info.work_owner.home_link }}'">
    <p class="event-owner-name">{{ event.info.event_owner.nickname }} <small>{{ event.info.type.desc }} <b>{{ event.info.work_owner.nickname }}</b> 的文章</small></p>
{% elif event.info.type.create or event.info.type.modify %}
    <p class="event-owner-name">{{ event.info.event_owner.nickname }} <small>发表文章</small></p>
{% endif %}

    <div class="sub-title">
        <p class="work-time">{{ event.info.time }}</p>
        <p class="introduce">{{ event.info.intro }}</p>
    </div>
    <label for="textarea" {% if page_info.content_click %}onclick="window.location.href='{{ event.info.event_link }}'" class="press" {% endif %}>
        <p class="work-title">{{ event.work.writer }} / {{ event.work.title }}</p>
        {% if event.work.version > 1 %}<p class="modify-times">第{{ event.work.version }}稿</p>{% endif %}
        <textarea class="preview-content" readonly>{{ event.work.content }}</textarea>
    </label>
    <div class="foot-info">
    {% if not user_info.is_reviewer %}
        <div id="share-btn"><i class="fa fa-share-alt"></i></div>
    {% endif %}
{#                <div id="mark-btn"><i class="fa fa-star"></i></div>#}
    {% if page_info.show_comment_icon %}
        <div id="comment-btn"><i class="fa {% if event.interact.has_comment %}fa-comment{% else %}fa-comment-o{% endif %}"></i></div>
    {% endif %}
        <div id="thumb-btn" data-event="{{ event.info.event_id }}" data-work="{{ event.info.work_id }}" data-owner="{{ event.info.owner_id }}" onclick="do_thumb(this)"><i class="fa {% if event.interact.thumb %}fa-thumbs-up{% else %}fa-thumbs-o-up{% endif %}"></i></div>
        <p class="read-num">{{ event.work.visit }}次阅读</p>
    </div>
    <hr>
    <div class="interact-list-container" id="thumb-list-container" {% if page_info.thumb_click %}onclick="window.location.href='{{ event.info.thumb_link }}'"{% endif %}>
        <div class="icon-box"><i class="fa fa-thumbs-up"></i></div>
            <p class="interact-list" id="me-thumb" style="display: {% if event.interact.thumb %}inline{% else %}none{% endif %}">我{% if event.work.thumb_list|length > 0 %}和{% endif %}</p>
{#            <p class="interact-list">{% for thumb in event.work.thumb_list %}{% if not forloop.first %}、{% endif %}{{ thumb.nickname }}{% endfor %}</p>#}
            <p class="interact-list">{{ event.work.thumb_str }}</p>
            <p id="text-desc-thumb" data-thumb="{{ event.work.thumbs }}">{% if event.work.thumbs > 0 %}等{{ event.work.thumbs }}人觉得赞{% else %}成为第一个赞的人吧{% endif %}</p>
    </div>
{% if page_info.abstract_comment %}
    <div class="interact-list-container" onclick="window.location.href='{{ event.info.event_link }}'">
        <div class="icon-box"><i class="fa fa-comment"></i></div>
            <p class="interact-list" id="me-comment" style="display: {% if event.interact.has_comment %}inline{% else %}none{% endif %}">我{% if event.work.comment_list|length > 0 %}和{% endif %}</p>
{#            <p class="interact-list">{% for thumb in event.work.comment_list %}{% if not forloop.first %}、{% endif %}{{ thumb.nickname }}{% endfor %}</p>#}
            <p class="interact-list">{{ event.work.comment_str }}</p>
            <p id="text-desc-comment" data-thumb="{{ event.work.comments }}">{% if event.work.comments > 0 %}等评论作品{{ event.work.comments }}次{% else %}成为第一个评论的人吧{% endif %}</p>
    </div>
{% endif %}
{% if page_info.list_comment %}
    <div class="comment-container">
    {% for comment in event.work.comment_list %}
        <div class="comment">
            <img class="avatar user-comment-avatar press" src="{{ comment.avatar }}" onclick="window.location.href='{{ comment.home_link }}'">
            <p class="user-comment-name">{{ comment.nickname }}
                {% if comment.is_reviewer %}<i class="fa fa-vcard"></i>{% endif %}
            </p>
            <p class="user-comment-time">{{ comment.time }}</p>
            <p class="user-comment-content">{{ comment.content }}</p>
        {% if comment.is_mine and not comment.is_reviewer %}
            <div class="delete press" data-comment-id="{{ comment.id }}" data-work-id="{{ event.info.work_id }}" onclick="delete_comment(this)"><i class="fa fa-trash"></i></div>
        {% endif %}
        </div>
    {% endfor %}
    </div>
{% endif %}
</div>