{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ event.work.title }} - {{ event.work.writer }}</title>
    <link href="{% static "v2/css/style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "v2/css/mui-switch.css" %}" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    {% include "v2/nav.html" %}
    <div class="event-list">
        {% include 'v2/event-item.html' %}
        <div class="event-item"></div>
    </div>
    <div class="comment-box">
        <hr>
        <div class="nav">
            <div class="box-btn left press" id="comment-cancel">取消</div>
            <div class="box-btn right press" id="comment-do" data-event="{{ event.info.event_id }}" data-work="{{ event.info.work_id }}" data-owner="{{ event.info.owner_id }}">评论</div>
        </div>
        <hr>
        <label for="textarea" class="comment-input-label">
            <textarea placeholder="此处输入评价……" class="comment-content" maxlength="500" rows="3">{{ event.interact.comment }}</textarea>
        </label>
        <hr>
    {% if user_info.is_reviewer %}
        <label for="input" class="switch-box">
        {% if event.interact.thumb %}
            <div class="hint-success" id="review-state">通过作品</div>
        {% else %}
            <div class="hint-danger" id="review-state">驳回作品（没有通过审核）</div>
        {% endif %}
            <input class="mui-switch mui-switch-animbg" id="review-switcher" type="checkbox" {% if event.interact.thumb %}checked{% endif %}>
        </label>
    {% endif %}
    </div>
    <div class="body-mask press" id="comment-mask"></div>

    <div id="event-menu-container" data-event="{{ event.info.event_id }}" data-work="{{ event.info.work_id }}" data-owner="{{ event.info.owner_id }}">
        <hr>
        <div class="event-menu-item press" id="item-share"><div class="icon-box"><i class="fa fa-share-alt"></i></div>分享文章</div>
        <hr>
    {% if event.work.version > 1 %}
        <div class="event-menu-item press" id="item-history"><div class="icon-box"><i class="fa fa-history"></i></div>历史版本</div>
        <hr>
    {% endif %}
    {% if event.info.is_mine %}
        {% if not event.work.is_public %}
        <div class="event-menu-item press" id="item-public"><div class="icon-box"><i class="fa fa-eye"></i></div>对外公开</div>
        <hr>
        {% else %}
        <div class="event-menu-item press" id="item-private"><div class="icon-box"><i class="fa fa-eye-slash"></i></div>仅我可见</div>
        <hr>
        {% endif %}
        <div class="event-menu-item press" id="item-modify"><div class="icon-box"><i class="fa fa-edit"></i></div>修改文章</div>
        <hr>
        <div class="event-menu-item press" id="item-delete"><div class="icon-box"><i class="fa fa-trash"></i></div>删除文章</div>
        <hr>
    {% endif %}
    </div>
    <div class="body-mask press" id="menu-mask"></div>
    <div id="share-menu-container">
        <div class="share-menu-item press" id="share-qn">
            <img src="{% static 'img/logo.png' %}">
            <div>直接分享</div>
        </div>
{#        <div class="divide-line"></div>#}
        <div class="share-menu-item press" id="share-s1">
            <img src="{% static 'img/style/1.png' %}">
            <div>孤径寒梅</div>
        </div>
        <div class="share-menu-item press" id="share-s2">
            <img src="{% static 'img/style/2.png' %}">
            <div>安若泰山</div>
        </div>
        <div class="share-menu-item press" id="share-s3">
            <img src="{% static 'img/style/3.png' %}">
            <div>醉翁之意</div>
        </div>
    </div>
    <div class="body-mask press" id="share-mask"></div>
    <div class="hint-box">
        <div class="hint-body"></div>
    </div>
    <script src="{% static "v2/js/comment.js" %}"></script>
    <script src="{% static "v2/js/work.js" %}"></script>
    <script src="{% static "v2/js/hint.js" %}"></script>
    <script src="{% static "v2/js/base.js" %}"></script>
    <script src="{% static "v2/js/jquery.json.js" %}"></script>
    <script src="{% static "v2/js/base64.min.js" %}"></script>
    <script src="{% static "v2/js/alert.js" %}"></script>
</body>