{% load static %}
    <div id="share-menu-container">
        <div class="share-menu-item press" id="share-qn">
            <img src="{% static 'img/logo.png' %}">
            <div>直接分享</div>
        </div>
{#        <div class="divide-line"></div>#}
        <div class="share-menu-item press" id="share-s1">
            <img src="{% static 'img/style/1.png' %}">
            <div>孤径寒梅</div>
        </div>
        <div class="share-menu-item press" id="share-s2">
            <img src="{% static 'img/style/2.png' %}">
            <div>安若泰山</div>
        </div>
        <div class="share-menu-item press" id="share-s3">
            <img src="{% static 'img/style/3.png' %}">
            <div>醉翁之意</div>
        </div>
    </div>
    <div class="body-mask press" id="share-mask"></div>