{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>青柠文字社</title>
    <link href="{% static "v2/css/style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
{#    {% include "v2/nav.html" %}#}
    <div class="navigation">
        <div class="title">{{ title }}</div>
        <img class="back" src="{% static 'img/back.png' %}" onclick="window.history.back()"/>
    </div>
    <div id="like-page-list-container">
        {% for card_info in thumb_list %}
            {% include 'v2/user-card.html' %}
        {% endfor %}
    </div>
    <script src="{% static "v2/js/base.js" %}"></script>
</body>