{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>青柠文字社</title>
    <link href="{% static "v2/css/style.css" %}" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    {% include "v2/nav.html" %}
    <div class="event-list">
        <div class="event-item">
            <img class="avatar event-owner-avatar" src="/user/avatar/default-avatar-08.jpg">
            <img class="avatar writer-avatar" src="/user/avatar/default-avatar-05.jpg">
            <p class="event-owner-name">咕噜 <small>分享了<b>徐森耳</b>的稿件</small></p>
            <div class="sub-title">
                <p class="work-time">2011年7月20日</p>
                <p class="introduce">快乐总是蓬头垢面。</p>
            </div>
            <label for="textarea">
                <p class="work-title">「海葬 第四章」</p>
                <p class="modify-times">第3稿</p>
                <textarea id="work-content" class="preview-content" readonly>	这个破落不堪的小渔村，因为有一个叫谭鱼生的女孩，他硬生生守了三年。
	其间几次他回家，鱼生便会在灯塔上眺望。
	可他回来锝一次比一次晚，一次比一次疲倦。因为他的父亲已经开始催促他的婚事了，他已经二十八了，所以一次次地被阻挠。
	他不知道自己为什么一定要回来，毕竟三年了，并没有母亲的任何音讯，这已经表明，母亲不在这里。可时间过得那么快那么快，仿佛还在昨天，他才遇上鱼生。
	鱼生已经开始有一个少女该有的样子了，只是依旧瘦弱，但脸色不再蜡黄了。
	可还是安静得可怕。
	“还有两年。”鱼生不再需要刮鱼鳞了，因为倒卖海鲜的事情已经包办给了其他人。但她也不再像之前一样，至少在高铭面前不再那么排斥了。“什么？”高铭看了眼鱼生，反问道。鱼生没有回应这个问题，只是自顾自接着说：“高铭，你是一直住在这里了？”高铭嗯嗯啊啊地不好回应。鱼生的心从来很敏感，她一直都很清楚，高铭和她从来不是一个世界的人。
	只是出于少女的偏执，希望那一天来得晚一些。
	夜晚在这个偏僻的地方总是黑得没有一丝光亮，连海鸟的一点点白色也被墨泼般的天空吞噬得一干二净。
	鱼生往火灯里投入些干柴禾，高铭坐在她的身旁——就像三年前那样。
	仍旧是一个黑色背包，里面装满了食物。高铭一声不吭地将食物投入火堆，鱼生也一声不吭地把洗干净的鱼和土豆扔进火堆。
	“鱼生……”高铭嗓子沙哑，盯着跳动的火苗，忽然开口道。“嘘。”鱼生轻轻说道，用木棍拨了拨火堆。风有些大，吹得火焰摇摆不定，云层中有些鸟儿嘶吼着，凄厉而又缥缈。“鱼生。”高铭又一次喊道：“我……”“别说话！”鱼生紧皱着眉头，语气里满是不耐烦的抵触情绪。她翻搅着火堆里的肉和土豆，眼睛一眨不眨。
	“鱼……”
	“我知道！”鱼生忽然扔了已经烧得焦黑的木棍，吼叫起来。高铭沉默了，听鱼生发作着：“你要走了，每一次都是这样，在走之前陪我吃这些东西，好像我还是一个小孩子一样，这样我就会开心吗？你知不知道，我已经好怕你陪我上灯塔了，每次我都不知道要等多久！”鱼生眼睛通红，双肩颤抖着，像暴风雨里受了雨淋的海鸟。她忽然就沉默了，安静了。她慢慢缩成一团，头深深地埋在臂弯里，不住地抽噎：“对不起……”高铭想去安慰她，可自己的嗓子却怎样都发不出声音来。
	她与他差了十二年的光阴，却还想固执地将他的手牢牢扣住。
	“能不能带我一起走？”鱼生的声音从臂弯里沉闷地传出。高铭却只是沉默，只将食物从火堆里拨出。
	他有他的不可言说，而且这不可言说的压力和承担不允许他带着她。
	“等你十八岁。”他沙哑道：“我答应过你的。”“早一点都不行吗？”鱼生抬起头，噙着泪水直勾勾地望着他。“十八岁的时候……”他的声音卡在喉咙里。
	抱歉只能给你这个承诺，给不了海誓山盟。
	不知道什么时候睡着的，感觉有些许凉意的时候，天已经大亮了。
	身边有一张纸条，有他秀丽却刚劲的字迹：谭鱼生，你问过我为什么取“谭”这个姓吧，这是我母亲的姓氏，并且，取“潭”的谐音。你终究不是海里的鱼，不适合纷扰的生活。或许，“潭”比海更加适合你吧。这是一张银行卡，留给你，最近的银行往西走便可以到，密码是你的生日。

	她死死攥着纸条。他走了，干脆连面对面的招呼都不打了。他还回来吗？多久？鱼生不知道。
	可这次像是最后的诀别一般。
	这是一个纯净得像是水晶的地方。海水，冰蓝冰蓝的，总有雪白或灰白的海鸟在海上盘旋觅食。云层总是厚得刚刚好，恰好能使阳光穿透，并将云层映成金黄。海风时而清凉时而湿热，扑在脸上总能尝到一股子咸湿的滋味，像盐水煮土豆的味道。灰白的灯塔高高矗立着，每到夜晚便会有橘红的火焰在塔顶上跳跃。
	可那么一天晚上，那团像石榴一般的火焰迟迟没有点起。
	那个孩子不在了。
	她去哪里了？不知道。
	鱼生的存在，对于渔村的村民而言都已经习以为常，但她忽然的消失，却让村民们意识到她的存在还是必然的。突然消失，就像家里用得顺手的一张渔网忽然不翼而飞。
	不过，既然是渔网，换一张不就行了？
	很快，灯塔上的火灯又如期亮起了。
	大家渐渐遗忘了鱼生这个人。
	像从未存在过一样。

	 “喂！醒醒！”一个粗鲁的女声冲进了少女的耳膜。“对不起，我太累了……”少女一身粗布衣衫，揉了揉眼爬了起来。“要在这儿睡，可以，把钱先掏出来。”女人五大三粗的，肥壮的双手叉着水桶般的腰，她抹着口红，根根睫毛被染得像苍蝇腿，向上翘着，耀武扬威，一副盛气凌人的模样。“我，我身上没钱，但是，但是我有卡。”少女四下翻找着，脏兮兮的手上抓着一张崭新的银行卡。“我们这儿不刷卡！滚滚滚滚，还好没吃我东西……”女人推搡着少女，在她身后，重重地关上了门。
	来到城里的第二天，鱼生只靠些鱼干充饥。
	还好这几天没有下雨。鱼生心想。
	她站在小旅馆门口，茫然不知去处。这里她不认识，也不认识这里的人。她拍了拍洗得发白的蓝布裙，试图拍去裙上的污垢，可这都是无用功。这里没有海水，没有海鸟，没有灯塔，没有沙砾滩。当初攥着几张发黄的票子坐上了来这里的巴士时，她没有想到，没想到会来到这样一个灰蒙蒙的世界。
	可总算是来到了城里。
	她重新整了整衣衫，仿佛这是一次赴约，要以最好的面目示人。身上背着一个草黄色的布包，里面有鱼干和盐水土豆，当然，还有高铭的那张银行卡。她双手攥紧草黄布包的带子，深深地呼了口气，抖了抖头发，一双眼睛却是迷茫的。
	该往哪里去呢？
	她刚向前走了一小步，一辆白色轿车便鸣着笛向她冲了过来。她没有见过这样的车，以至于呆呆地看怔了。车子卷起地上的尘土，一针强劲的风猛地扑到她身上，她这才有些害怕起来，向后缩了缩身子。
	 “站在马路中间，找死啊！”隔着挡风玻璃，司机破口大骂起来。鱼生没有吭声，只拽着布包向后退了几步，向路的另一边跑去。几辆车被她搅得被迫停了下来，可她只一味向前跑，她觉得这条路好长好长，怎么总也跑不到头。马路上，汽车的鸣笛声灌耳，信号灯一盏盏亮起。鱼生不管，她只顾闭着眼睛向前跑。
	一阵急促的刹车。
	鱼生摔倒在地，膝盖擦出一条长长的口子。司机下车想看看情况，鱼生却自己硬撑着起来，不顾疼痛，只一个劲朝前冲。
	马上就要到了。

	血从她的伤口蜿蜒流下。鱼生怕了，她想哭，可是不可以，得先过了这条马路。
	终于，她跑到了路的另一头，却被忽然高起一截的人行道边再次绊倒。
	她闭着眼，一双手却将她扶住了。
	温度顺着皮肤接触的地方传入她的身体，她浑身一颤，脚却因伤口的疼痛而没有力气，她像是跪在空中，可那双手那么有力，牢牢地将她扶住了。
	她抬头，一张像海一样干净的脸映入了她的眼帘。那张脸上写着些许讶异。她没有多看，只强撑着用双脚重新支撑起身体。她迅速甩开了那双手。
	没有说谢谢。
	这里不是小渔村，这里一点也不安静，它又脏又乱。人们的脸上没有笑容，他们就像是爬行在钢筋水泥里的虫子，一点生气也没有，只会吼叫发怒。空气里没有咸湿清新的海风味道。有的是浮尘，是一股子呛人的味道。生活在这里的人都是怪物，机械一般，不会有感情！
	鱼生仍旧只是跑，她觉得很难受，鼻腔里溢满了腐烂的气息，叫她喘不过气来。她的眼睛酸疼，渐渐没了力气，踉跄了几步，靠着一条巷子的墙壁滑了下来。她喘着气，这里的一切都使她害怕，她从布包里拿出一些鱼干，一只绿莹莹的眼睛却忽的在黑暗的角落里亮了起来。她缩了缩双腿，一个瘦骨嶙峋的黑影子出现在亮处，它轻轻地叫了一声。
	原来是一只猫。
	鱼生试探性地唤着它，她叫一声，猫儿应一声。她伸出手心中的鱼干，猫试探性地向前探了探爪子，见鱼生不动，便迅速从她手里叼了鱼干，重新跃进了黑暗。鱼生叹了口气，那只猫却又探出了它的脑袋。
	这只猫可真特别，它有一只眼睛是蓝白色的。
	是一只坏死的眼吧。
	鱼生从布包里拿了一些散块的鱼干，轻轻唤了一声，猫儿翘着尾巴从黑暗里跃了出来，可还没等到鱼生面前，便被一根粗钢管狠狠赶了回去。
	它发出一声凄厉的叫声。
	鱼生的心一瞬间被吊得好高。
	她抬起头，还没看清是谁，钢管落地的声音却使她的目光被吸引到了钢管上。“你没事吧？”一种让人听着很舒服的声音。如果用这个声音唱一首海边的民谣一定非常动听。“这些流浪猫有很多病菌的。”鱼生没有应，只把自己的双腿死死抱住，头别向一边。
	她听见身边的人向外走去，脚步声越来越远，她张开口，努力拼出了两个字的断音：“谢谢。”
	脚步声忽然停住：“不……不用。”
	她抬头向那人的方向看去，那是一个高高的男孩，脖颈后的皮肤不是海渔民的黄黑，也不是高铭的小麦色，而是一种近乎透明的，像白瓷一样干净的颜色。他穿着有些透光的白衬衫，肩上搭着一个像高铭的黑色背包的一个黑色双肩包。不远处，一辆看起来半新的脚踏车停在原地。
	是不是所有背黑色背包，有着干净皮肤的人都像高铭一样善良？
	“鱼生。”她忽然喊出了声：“我叫鱼生，谭鱼生。”
	他没有回话，她却因此有些落寞。她重新低下了头，眼前一片阴影忽然又投下。她慌乱地抬起头，少年却手拿了一瓶药和几张创可贴，扯过她的膝盖，开始处理伤口。药冰冰凉的，撒在伤口上有些痛。鱼生没有再说话，看少年低着头那么仔细那么认真。她只能看见他干净得像丝绸一样，和一对扇形的睫毛。
	“我叫萧岚。”少年抬起头，目光与她的目光相接触。
	眼底像海一样温柔。</textarea>
            </label>
            <div class="foot-info">
{#                <div id="share-btn"><i class="fa fa-share-alt"></i></div>#}
{#                <div id="mark-btn"><i class="fa fa-star"></i></div>#}
                <div id="comment-btn"><i class="fa fa-comment-o"></i></div>
                <div id="thumb-btn"><i class="fa fa-thumbs-o-up"></i></div>
                <p class="read-num">22人阅读</p>
            </div>
            <hr>
            <div class="thumb-list-container">
                <i class="fa fa-thumbs-up"></i>
                <p class="thumb-list">工刀、嘻嘻</p>
                <p>等8人觉得赞</p>
            </div>
            <div class="comment-container">
                <div class="comment">
                    <img class="avatar user-comment-avatar" src="/user/avatar/default-avatar-01.jpg">
                    <p class="user-comment-name">老头和老太太</p>
                    <p class="user-comment-time">十二年前</p>
                    <p class="user-comment-content">我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论</p>
                </div>
                <div class="comment">
                    <img class="avatar user-comment-avatar" src="/user/avatar/default-avatar-02.jpg">
                    <p class="user-comment-name">工刀<i class="fa fa-vcard"></i></p>
                    <p class="user-comment-time">11:15</p>
                    <p class="user-comment-content">我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论我要评论</p>
                </div>
            </div>
        </div>
        <div class="event-item"></div>
    </div>
{#    <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>#}
    <script src="{% static "v2/js/work.js" %}"></script>
</body>