{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>表面功夫 / 徐秋桐</title>
    <link href="{% static "v2/css/work-style.css" %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
</head>
<body class="work-style-2-body">
    <div class="work-style-2-name">表面功夫</div>
    <div class="work-style-2-writer">徐秋桐</div>
    <div class="work-style-2-time">陆月拾陆日</div>
    <pre class="work-style-2-content">人们总是会讨厌绣花枕头之类的词汇。

近来我发现很多人开始专心于摘记卡，这本该是叫人欣慰的一件事，但明显专注的方向出了点偏差。自从上次老师把好的样本拿来给同学展示过后，大家在意的不是她们摘记文本的方法，而是把重点放在了卡片的插画上。“好好看哦！”发出这样的感叹后，便开始用颜料和彩笔画各种美的东西上去。看起来五颜六色的是不错。

但这样真的好吗？花花绿绿的卡片上如果有的只是胡乱应付、无病呻吟的句子，那不过是一堆卖不出去的劣质贺卡罢了。没有实质性的东西，那再绚丽的外表也不过是花瓶。

我并不反对对摘记卡的装饰，毕竟爱美之心人人皆有之，但本末倒置，忽略了作品的内涵，又真的能讨人喜欢吗？

文章也如此。从小学起，老师就告诉我们要多看书，多摘录好词好句，然后写作文时就像涂油漆大把大把地刷上去。

恶心。这是我现在对那时所写的作文的唯一评价。我甚至不忍心继续看下去。那根本不能被称为文章，只是一本好词好句集罢了！大量浮夸的修辞和环境描写，不知所云的感慨和升华主旨，虚假做作的对白“不用谢，我叫红领巾！”。乍一看上去就像是一大捧花束送到你面前，但翻找几下，却发现没有芬芳。因为那是束假花，那是假的。

写作是为了写出自己的情绪、见解和追求，这些不是靠一大把叫人眼花缭乱的好词好句就能替代的。只有灌注了自己真是的情感和思想，你笔下倾泻而出的才是你的文章，是真正的心血之作，才是真正有内涵有深度的，才值得人们去钻研。

好的作品不是靠华丽的辞藻堆积出来的，就好像好的电影绝不是靠演员的颜值来撑起一片天的，那种用高颜值虐恋情来当招牌的影视剧简直就是在给自己贴标签，好像除了这些它就一点看头都没有了。

那种冲着好词好句去阅读的心理无疑是对文章的一种侮辱，作者写那些词句的目的是为了更好更鲜明地烘托出想传递给你们的心声，而你却买椟还珠，只取走了表面的一层油花而无视了油层下炽热的心。

所以我反感那些为了颜值或打斗场景而去观看电影的人。初中一次看《霍比特人3》，影片中正是主角在交流日趋严峻的局势，五军之战的阴霾笼罩在孤山上空。我屏住呼吸专注于他们沉重的谈话，旁边的男生却在大喊：“看这个干什么啊！无聊！快进过去看打架，那才爽呢！”

蠢货。我在心里刻薄地骂道，这样的人体会不到作品真正的核心，只依靠长相和打斗来吸引眼球的刺激就像吸大麻，给你来一劲儿，不久后又会忘记，直至麻木。而深入作品去体会人物的情感波动，感受更深层次的共鸣，则会像陈酿，还有余香，每每忆起仿佛又回到当时的情景，心里又涌起难捺的激动。这是表面文章无法触及的高度。

所以我希望的是，作者并不是用矫揉造作的文笔去吸引同样故作忧伤的读者，而是写出有真正蕴含的感情的作品；读者也并不是图一时痛快去狼吞虎咽，而是静下心来去欣赏来自他人的心灵撞击。

我也希望，下次我在闲逛时，听见的不光是“你的卡片画的真好看”，还是“你抄的这段话真好”。</pre>
    <script type="text/javascript">
       $youziku.load(".work-style-2-writer,.work-style-2-time", "03e7a2705e504e28aa41ecbb5bf1ce94", "hdjshusonger");
       $youziku.load(".work-style-2-content", "03e7a2705e504e28aa41ecbb5bf1ce94", "hdjshusonger");
       $youziku.load(".work-style-2-name", "87f441e2885d4a14b77e4fc0dd97ed84", "cyjlaosong");
       $youziku.draw();
    </script>
</body>
