{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>跟 / 工刀</title>
    <link href="{% static "v2/css/work-style.css" %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
</head>
<body class="work-style-3-body">
    <div class="work-style-3-name">跟</div>
    <pre class="work-style-3-content">风吹得乖巧 太阳酿熟了聒噪
知了占领十七年前的老乔 喧闹
它不间断的 没规律的 自我沉溺着
天上的白云往常一样飘过 今天为什么 逗留

鳄鱼咧出了腼腆的笑容 托着飞鸟仰泳
风儿擀平了衣角的褶皱 大把大把灌醉了袖口

你温柔四溅 婉约了世界
太阳忘了下山 炊烟忘了向前
你跟着我走 你勾着我手
像青苔缠着石板 把时光走旧

荏苒头上草 故事枯荣了一遭
那只知了不停喧闹 像掌控了分秒
喔沙哑的光 娇脆的夏 都听见了什么
云朵蜷成结实的承诺 无所畏惧的 飘游

鳄鱼咧出了腼腆的笑容 托着飞鸟仰泳
风儿擀平了衣角的褶皱 大把大把灌醉了袖口

你摊开长发 自卑了石榴花
星星把你牵挂 月亮跟你回家
你跟着我走 你勾着我手
羡煞陈醋和酒 小桥和水流

你跟着我走 你勾着我手
像红莲牵白藕 素胚拥青釉
你跟着我走 你勾着我手
若路有头 遇水作舟 遇山做粥</pre>
    <div class="work-style-3-writer">工刀</div>
    <div class="work-style-3-time">陆月拾陆日</div>
    <script type="text/javascript">
       $youziku.load(".work-style-3-content,.work-style-3-writer,.work-style-3-time", "10ee012e73534b93ba2b52850825620a", "HanWangFangSongMedium");
       $youziku.load(".work-style-3-name", "10ee012e73534b93ba2b52850825620a", "HanWangFangSongMedium");
{#       $youziku.load(".work-style-3-content,.work-style-3-writer,.work-style-3-time", "3972bf43f22a472ea664e76613835833", "JQKa_F");#}
{#       $youziku.load(".work-style-3-name", "3972bf43f22a472ea664e76613835833", "JQKa_F");#}
       $youziku.draw();
    </script>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'v2/js/work-style.js' %}"></script>
</body>
