<!DOCTYPE html>
<html>
<head>
    <!-- Magzine -->
    <meta charset="utf-8">
    <title>青柠审稿</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script type="application/javascript"
            src="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
    <script type="application/javascript"
            src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script type="application/javascript"
            src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/static/js/jquery.json.js"></script>
    <style type="text/css">
        body {
            background: url('/static/bk.jpg') no-repeat center;
        }
        h1 {
            text-align: center;
            padding-top: 80px;
        }
        h2 {
            text-align: right;
            font-size: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
{#            color: #B0AD8A;#}
        }
        .form-group {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .submit-button {
            text-align: right;
        }
        form {
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 20px;
        }
        label {
{#            color: #B0AD8A;#}
        }
    </style>
    <script type="application/javascript">
        function postJSON(url, json_str, success_function) {
            $.ajax({
                url : url,
                type : 'POST',
                data : json_str,
                async: true,
                dataType : 'json',
                contentType : 'application/text',
                success : function(response, status) {
                    if (status != "success")
                        alert("未知错误");
                    else if (response['code'] != 0)
                        alert("错误"+response['code']+"："+response['msg']);
                    else success_function(response);
                },
                error : function(xhr, error, exception) {
                    // handle the error.
                    alert(exception.toString());
                }
            });
        }
        function status_return(response) {
            if (response["body"] == "reviewer")
                self.location = "/reviewer/center.view/";
            else if (response["body"] == "writer")
                self.location = "/writer/center.view/";
        }
        function login() {
            var username = $("#username").val();
            var password = $("#password").val();
            var post = { username: username, password: password};
            var json_str = $.toJSON(post);
            postJSON("/user/login/", json_str, status_return);
        }
        function hide_pwd() {
            if ($("#no-pwd").prop("checked"))
                $("#pwd_block").css("display", "none");
            else
                $("#pwd_block").css("display", "block");
        }
        function body_img_callback(w, h) {
            window.image_width = w;
            window.image_height = h;
            change_body_css();
        }
        $(document).ready(function () {
            postJSON("/user/status/", "", status_return);
            var image = new Image();
            image.src = $("#body-img").attr("src");
            if(image.complete){
                body_img_callback(image.width, image.height);
            } else {
                image.onload = function(){
                    body_img_callback(image.width, image.height);
                }
            }
        });
        function change_body_css() {
            var height = window.innerHeight;
            var width = window.innerWidth;
            if (height * window.image_width > width * window.image_height)
                $("body").css("background-size", "auto auto");
            else
                $("body").css("background-size", "100% auto");
        }
    </script>
</head>
<body onresize="change_body_css()">
    <img id="body-img" src="/static/bk.jpg" style="display: none"/>

    <div class="container">
    <div class="row clearfix">
    <div class="col-xs-12 column">
        <h1 class="heading"><b>青柠文字审稿系统</b></h1>
        <h2>纵若在青山，欲我驾鹤南</h2>
    </div>
    </div>
    </div>

    <div class="container">
    <div class="col-xs-12 column">
        <form role="form">
            <div class="form-group">
                 <label>账号</label><input type="text" class="form-control" id="username" />
            </div>
            <div class="form-group" id="pwd_block">
                 <label>密码</label><input type="password" class="form-control" id="password" />
            </div>
            <div class="checkbox">
                 <label onclick="hide_pwd()"><input type="checkbox" id="no-pwd"/>免密登录</label>
            </div>
            <div class="submit-button">
                <a onclick="login()" type="submit" class="btn btn-default" id="login_btn">登录</a>
            </div>
        </form>
    </div>
    </div>
    </div>
</body>
</html>
